@import '../../variables';

.nav-tabs-container {
  pointer-events: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.nav-tab {
  transition: 0.5s;

  box-sizing: border-box;

  position: relative;
  display: flex;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  background-color: white;

  padding: 12px 24px;
  margin-left: 32px;
  height: 44px;

  border-radius: 8px;

  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;

  box-shadow: 0px 2px 8px rgba($color: #000000, $alpha: 0.25);

  color: rgba($color: #000000, $alpha: 0.5);
  fill: rgba($color: #000000, $alpha: 0.5);

  .tab-title {
    margin: 0px;
    margin-top: 2px;

    font-size: 14px;
  }

  .icon {
    margin-right: 16px;
  }

  .selected-indicator {
    transition: transform 0.5s;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    transform: translateY(4px);

    background-color: $primary-color;
  }

  &.selected {
    color: $primary-color;
    fill: $primary-color;

    .selected-indicator {
      transform: none;
    }
  }

  &:first-child {
    margin-left: 0px;
  }
}

.nav-elements {
  &.dark {
    .nav-tab {
      background-color: $primary-color-dark;

      color: rgba($color: white, $alpha: 0.5);
      fill: rgba($color: white, $alpha: 0.5);

      &.selected {
        color: $primary-color;
        fill: $primary-color;
      }
    }
  }
}
