@import '../../variables';

.gallery-section-content.videos {
  flex-direction: column;
  overflow: hidden;

  @media (min-width: $min-width-desktop) {
    flex-direction: row;
    flex-wrap: wrap;

    padding-bottom: 16px;
  }
}

.gallery-video-item-size-container {
  position: relative;

  flex-basis: 100%;
  padding-top: 56.25%; // 16:9 Aspect Ratio

  // margin-bottom: -16px;
  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $min-width-desktop) {
    flex-basis: calc((100% / 3) - (16px / 3));
    padding-top: calc(56.25% / 3); // 16:9 Aspect Ratio
  }
}

.gallery-video-item-content-container {
  position: absolute;

  top: 0;
  width: calc(100% - 32px);
  height: calc(100% - 16px);

  margin: 16px 16px 0 16px;

  @media (min-width: $min-width-desktop) {
    width: calc(100% - 16px);
    margin: 16px 0 0 16px;
  }
}

.gallery-video-item {
  position: absolute;
  display: flex;

  top: 0;
  width: calc(100%);
  height: calc(100%);

  // margin: 16px;
  margin-bottom: 0px;

  border-radius: 8px;
  border: none;

  svg {
    fill: white;

    width: 45px;
    height: 60px;

    margin: auto;
  }

  &.thumb {
    opacity: 0.3;
  }

  &.accessories {
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.gallery-video-overlay {
  position: fixed;

  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  background-color: rgba($color: black, $alpha: 0.8);

  border: none;

  z-index: 9999;

  iframe {
    margin: auto;
  }

  @media (max-width: $min-width-desktop) {
    padding-bottom: 54px;
  }
}

.video-margin-bottom {
  width: 100%;
  height: 16px;

  @media (min-width: $min-width-desktop) {
    display: none;
  }
}
