@import '../../variables';

.gallery {
  overflow: auto;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  min-width: 100%;

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: $min-width-desktop) {
    padding-left: 80px;
  }
}

// título da página
.title {
  margin: 20px 0 42px 76px;

  @media (min-width: $min-width-desktop) {
    font-size: 64px;
    margin: 112px 0 16px 32px;
  }
}
