@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html {
  font-family: 'Roboto';
}

body {
  max-width: 100%;
  overflow-x: hidden;

  padding: 0;
  margin: 0;

  background-color: white;
}

#home {
  display: flex;
}
