html.lock,
body.lock {
  overflow: hidden;
  scroll-behavior: none;
}

.nav-drawer {
  transition: transform 0.5s;
  transform: translateX(calc(56px - 100vw));

  position: fixed;
  top: 0;
  bottom: 0;

  width: calc(100vw - 56px);

  background-color: white;

  &.visible {
    transform: none;
  }
}

.nav-items {
  list-style: none;

  padding: 22px;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;

  border-radius: 8px;

  color: rgba($color: #000000, $alpha: 0.5);
  font-size: 14px;
  font-weight: 500;

  &.selected {
    color: #107df0;
    background-color: rgba($color: #107df0, $alpha: 0.2);

    a {
      text-decoration: none;
    }
  }

  &-title {
    margin: 3px 0px 0px 14px;
  }

  a {
    display: flex;
    align-items: center;
    flex: 1;

    padding: 14px;
    border-radius: 8px;

    color: inherit;
  }
}

.nav-backdrop {
  transition: 0.5s;

  position: fixed;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba($color: #000000, $alpha: 0.8);
  opacity: 0;

  z-index: -1;

  &.visible {
    opacity: 1;
  }
}
