.under-construction {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba($color: #107df0, $alpha: 1);
  color: #fff;

  img {
    filter: invert(100%);
  }
}
