$primary-color: #107df0;

$primary-color-light: #88bef8;
$primary-color-lighter: #cfe5fc;

$primary-color-dark: #05294e;
$primary-color-darker: #031426;

$font-family: 'Roboto';

$min-width-desktop: 768px;
$min-width-desktop-m: 1024px;
