@import '../../variables';

.process {
  z-index: 1;
  width: 100%;
}

.process-container {
  z-index: 1;

  background-color: white;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.5);

  // 24 para espaçar ao começo do hamburger
  // 43 para espaçar ao começo do hamburger
  // 62 para espaçar ao final do hamburger
  // padding-top: 43px;
  padding-bottom: 88px;

  .content-section {
    padding: 16px;

    max-width: 40em;
    margin-left: auto;
    margin-right: auto;

    line-height: 1.5rem;

    p,
    ul {
      color: rgba($color: #000000, $alpha: 0.8);
    }
  }

  .photos-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 8px;
    max-width: 100%;

    @media (min-width: 1300px) {
      flex-direction: row;
    }

    &.big {
      @media (min-width: $min-width-desktop) {
        flex-direction: row;
      }
    }

    img {
      margin: 8px;

      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba($color: #000000, $alpha: 0.25);

      max-width: 100%;
      height: auto;

      &.big {
        @media (min-width: $min-width-desktop) {
          max-width: 30%;
        }

        @media (min-width: 1167px) {
          max-width: 350px;
        }
      }
    }
  }

  .video-container {
    display: flex;

    max-width: 100%;
    overflow: hidden;

    iframe {
      width: 95%;
      margin: auto;

      @media (min-width: $min-width-desktop) {
        width: 60%;
      }
    }
  }

  @media (min-width: $min-width-desktop) {
    transition: 0.5s;

    padding-top: 16px;

    box-shadow: none;
    background-color: transparent;

    padding-bottom: 120px;

    section {
      transition: opacity 0.5s;
      opacity: 0;
    }

    &.show-bg {
      background-color: white;
      box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.5);

      section {
        opacity: 1;
      }
    }
  }
}

.process-scroll-cover {
  background-color: transparent;
}

.gallery-button-container {
  display: flex;
  width: 100%;

  justify-content: center;

  a {
    position: relative;
    overflow: hidden;

    display: flex;
    margin: auto;

    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    margin: 16px 0px;
    padding-left: 16px;
    padding-right: 8px;

    min-width: 90%;
    max-width: 300px;
    height: 56px;

    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.25);

    color: $primary-color;
    text-decoration: none;
    font-weight: 500;

    @media (min-width: $min-width-desktop) {
      transition: 0.5s;

      min-width: 300px;

      &:hover {
        transform: scale(1.025);
        box-shadow: 0px 8px 16px rgba($color: #000000, $alpha: 0.25);
      }
    }

    .chevron-right {
      fill: none;
      overflow: visible;

      stroke: $primary-color;
      stroke-width: 4px;
      stroke-linecap: round;

      transform: rotate(90deg) scale(0.4, 0.6);
    }

    .ribbon {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 4px;

      background-color: $primary-color;
    }
  }
}
