@import '../../variables';

.link {
  // necessário pra posicionar o ribbon
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 8px;

  margin: 16px 0px;

  // em mobile
  min-width: 90%;
  max-width: 300px;
  height: 56px;

  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.25);

  color: $primary-color;
  text-decoration: none;
  font-weight: 700;

  @media (min-width: $min-width-desktop) {
    transition: 0.5s;
    min-width: 300px;

    &:hover {
      transform: scale(1.025);
      box-shadow: 0px 8px 16px rgba($color: #000000, $alpha: 0.25);
    }
  }
}

.chevron {
  fill: none;
  overflow: visible;

  stroke: $primary-color;
  stroke-width: 4px;
  stroke-linecap: round;

  // vira o svg
  transform: rotate(90deg) scale(0.4, 0.6);
}

.ribbon {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  background-color: $primary-color;
}
